@import "tailwindcss";

@font-face {
  font-family: 'Sugar-TR';
  src: url('./fonts/sugar-tr.woff2') format('woff2'),
       url('./fonts/sugar-tr.woff') format('woff'),
       url('./fonts/sugar-tr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.sugar-tr-font {
  font-family: 'Sugar-TR', sans-serif;
  font-size: 28px;
}

@font-face {
  font-family: 'Insaniburger-TR';
  src: url('./fonts/insaniburger-tr-webfont.woff') format('woff'),
       url('./fonts/insaniburger-tr-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.insaniburger-tr-font {
  font-family: 'Insaniburger-TR', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}


